/*rules*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color:white; 
    font-family: "Open Sans", arial; 
    box-sizing: border-box; 
}

.container {
    width: 90%;   
    margin: auto; 
    overflow: auto;
}

.line{
    width: 180px;
    height: 1px;   
    background-color:#ff305b;
    font-weight: lighter;
    margin: 3px auto;
}
.line2{
    width: 80px;
    height: 1px;   
    background-color:#ff305b;
    font-weight: bolder;
    margin: 3px auto;
}
/*end rules*/





/*Start header*/

.header{
    background-image: url(../img/slider/slider-01.jpg); 
    height: 620px; 
    background-size: cover;
}

.layer{
    height: 100%; 
    background-color: rgba(0,0,0,0.8);
}

.header .layer .navbar .fokir{
    color: red; 
    font-size: 24px; 
    font-weight: 800; 
    padding: 18px 0;
    float: left;
}

.header .layer .navbar ul{ 
    list-style: none; 
    overflow: auto; 
    float: right; 
    padding-top: 10px;
}

.header .layer .navbar ul li{
    float: left; 
    color: white; 
    padding :12px
}

.header .layer .navbar ul li a{
    text-decoration: none; 
    color:white;
}

.header .layer .navbar ul li a:hover{color:#ff305b; }

.header .layer .slider{height: 80%;}

.header .layer .slider .container{ 
    height: 100%; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
    align-content: center;
}

.header .layer .slider h3{ 
    text-align: center; 
    color:white; 
    font-weight: 600; 
    font-family: 'Source Sans Pro', sans-serif; 
    width:100%
}

.header .layer .slider h1{
    text-align: center; 
    color: #ff305b; 
    font-size: 70px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif; 
    text-transform: uppercase;
    width: 100%;
}

.header .layer .slider h4{ 
    text-align: center; 
    font-size: 26px; 
    text-transform: capitalize;
    color:white; 
    font-weight: 300; 
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
}
/*end header*/




/*Start about*/

.about .container{ padding: 100px 0px ;
    display: flex; 
    flex-wrap: wrap;

    justify-content: center; 
    align-items: center;

    align-content: center;
}

.about .container .box{
    position: relative; 
    width: 40%;  
}

.about .container .box .border{
    height:440px;
    width: 360px; 
    border-width:8px;
    border-color:rgb(85, 85, 85);
    border-style: solid; 
    border-radius: 5px; 
}

.about .container .box .imgg{  
    height:440px;
    width: 360px;
    position: absolute; 
    top:30px; 
    left: 30px;  
    overflow: hidden;
}

.about .container .box .imgg img{border-radius: 5px; }

.about .container .box .img2{width: 360px;}

.about .container .box .imgg .layer{
    border-radius: 5px;
    width:360px; 
    height:440px; 
    background-color:rgba(0, 0, 0, 0.57); 
    transition: 1s all;  
    display: flex ;
    justify-content: center;
    align-items: center;
}
.about .container .box .imgg .layer i{
    color: white;
    padding: 0px 10px;
}


.about .container .box .imgg:hover .layer{transform: translate(0,-440px);}

.about .container .desc{ width: 50% ;}

.about .container .desc h2{
    font-size: 34px;
    font-weight: 600; 
    line-height: 22px; 
    position: relative;
    text-transform: uppercase; 
    color: #333; 
    margin-bottom: 25px; 
    padding-left: 13px;
    border-left-color:rgb(255, 48, 91) ; 
    border-left-style: solid; 
    border-left-width:4px
}

.about .container .desc p{
    border-bottom-color: rgb(153, 153, 153);
    border-bottom-style: dashed;
    border-bottom-width: 0.8px;
    color: #555555;
    margin-bottom: 25px; 
    padding-bottom: 25px;
    font-weight: 400; line-height: 25px
}

.about .container .desc ul{
    overflow: auto; 
    list-style: none;
}

.about .container .desc ul li{
    width:50%; 
    float: left; 
    padding: 10px 0px;
    color: #555555;
    font-weight: 400; 
    line-height: 1;
}

 .about .container .desc ul span{
    color: #333333; 
    font-weight:bold;
}

.about .container .desc ul li a{
    text-decoration: none; 
    color:#555555;
}

.about .container .btn{
    display: flex;  
    margin-top: 20px ;  
}

.about .container .btn .right{margin-left: 10px;}

.about .container .btn a{
    border-radius: 4px; 
    text-align: center;
    background-color:#ff305b;;
    color:white;
    text-decoration: none;
    padding: 5px 40px;
    transition: 1s all;
    font-family: "Roboto", sans-serif; 
    font-size: 14px; 
    font-weight: 5100; 
    line-height: 38px; 
}
.about .container .btn i{color: white; margin-top:10px; margin-left: 10px;}

.about .container a:hover{background-color:red;}

/*end about*/





/*Start services*/

.services {
    background-color: #f1f1f1;
    margin-top:50px ; 
    padding-bottom: 100px;
}

.services .container h2{
    font-size: 40px; 
    font-weight: 800; 
    line-height: 30px; 
    margin: 100px 0 10px; 
    padding-bottom: 30px;
    position: relative; 
    text-transform: capitalize; 
    font-family: 'Source Sans Pro', sans-serif;
    color: #333; 
    text-align: center;
}

.services .container .service {
    display: flex ; 
    justify-content:space-around; 

}

.services .container .service .p{
    margin-top: 50px;
    padding: 40px 0px;
    border-radius: 4px;
    transition: 1s all;
}

.services .container .service .p:hover{
    background-color: white; 
    box-shadow: 3px 3px #f1f1f1 , -3px -3px #f1f1f1 ;
}

.services .container .service .p .icon{
    display:flex; 
    justify-content: center; 
    color:#ff305b; 
    margin-bottom: 30px;
}

.services .p .icon i{font-size: 32px;}

.services .container .service .p .info{text-align: center;}

.services .container .service .p .info h3{
    font-size: 24px; 
    font-weight: 600; 
    margin-bottom: 15px;
    font-family: 'Source Sans Pro', sans-serif; 
    color: #333;
}

.services .container .service .p .info p{
    color: rgb(85, 85, 85);
    font-family: "Roboto", sans-serif;
    font-weight: 400; 
    line-height: 25px; 
    width:85%;
    padding-left: 15px;
}

/*end services*/





/*Start portfolio*/

.portfolio {
    background-color:white; 
    padding-bottom: 100px;
}

.portfolio .container h2{
    font-size: 40px; 
    font-weight: 800; 
    line-height: 30px; 
    margin: 100px 0 10px; 
    padding-bottom: 30px;
    position: relative; 
    text-transform: capitalize; 
    font-family: 'Source Sans Pro', sans-serif;
    color: #333; 
    text-align: center;
}

.portfolio .container hr{
    width:19% ;
    color:#ff305b;
    margin-left:450px ; 
    margin-bottom: 5px;
}

.portfolio .container .hrr{
    width:10% ; 
    margin-left: 500px;
}

.portfolio .container ul{
    list-style: none; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-bottom: 50px;
}

.portfolio .container ul li{
    padding:15px ; 
    margin-top: 50px; 
    color: #333333;
}

.portfolio .container ul li a{
    text-decoration: none; 
    color: #333333;
}

.portfolio .container ul li a:hover{color:#ff305b;}

.portfolio .container .imgs{ 
    margin-bottom: 50px; 
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
}

.portfolio .container .imgs .imgaya{
    width:30% ; 
    margin-top: 25px;
    position: relative;
}
.portfolio .container .imgs .imgaya img{
    width:100%; 
}

.portfolio .container .imgs .imgaya .layer{ 
    background-color:rgba(0, 0, 0, 0);  
    position: absolute; 
    top:0% ; 
    left: 0%;
    width: 100%; 
    height: 100%; 
    transition: 0.5s all;
}

.portfolio .container .imgs .imgaya:hover .layer{background-color:rgba(0, 0, 0, 0.5);}

.portfolio .num {
    background-color: #f1f1f1; 
    padding-bottom: 100px;
    padding-top: 50px; 
    margin-top: 50px;
}

.portfolio .num .counter {
    display: flex ; 
    justify-content:space-around; 
    margin-top:30px;
}

.portfolio .num .counter .b .icon{
    display:flex; 
    justify-content: center; 
    color:#ff305b; 
    margin-bottom: 30px;
}

.portfolio .num .counter .b  .icon i{font-size: 25px;}

.portfolio .num .counter .b .info{text-align: center;}

.portfolio .num .counter .b .info h3{
    font-size: 26px; 
    font-weight: 800; 
    margin-bottom: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
}

.portfolio .num .counter .b .info h5{
    font-size: 16px; 
    color:#555555;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400; 
    line-height: 25px;
    padding-left: 15px;
}

/*end portfolio*/





/*Start testimonial*/

.testi {margin-bottom: 100px;}

.testi .container h2{
    font-size: 40px; 
    font-weight: 800; 
    line-height: 30px; 
    margin:0px 0 10px; 
    padding-bottom: 30px;
    position: relative; 
    text-transform: capitalize; 
    font-family: 'Source Sans Pro', sans-serif;
    color: #333; 
    text-align: center;
}

.testi .container hr{
    width:19% ;
    color:#ff305b; 
    margin-left:450px ; 
    margin-bottom: 5px;
}

.testi .container .hrr{
    width:10% ; 
    margin-left: 500px;
}

.testi .container .content{
    background-color:#f1f1f1 ;
    overflow: auto; 
    width: 65%; 
    margin-left: 200px; 
    margin-top: 100px;
    padding-bottom: -200px;
    padding-top: 50px; 
    position: relative;
}

.testi .container  .content .triangle{
    background-color:#ff305b;;
    height: 300px;
    width: 200px;
    transform: rotate(45deg) translate(-180px,-90px);
}

.testi .container  .content .imgg{ 
    float: left;
    width: 20%; 
    position:absolute;
    top:55px;
    left:-5px;
    z-index: 2;
}

.testi .container  .content .imgg img{ 
    width:72%; 
    height:18%;
    border-radius: 50%; 
    margin-left:50px ;
}

.testi .container .content .info {
    width:65%;
    float: right; 
    margin-right:50px;
}

.testi .container  .info h3{
    font-size: 26px; 
    margin-bottom: 10px; 
    font-weight: 600; 
    font-family: 'Source Sans Pro', sans-serif; 
    color: #333;
}

.testi .container  .info h4{
    font-weight: 600;
    margin-bottom: 10px; 
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(77, 75, 75);
    font-size: 18px; 
    color: rgb(119, 119, 119);
}

.testi .container .info p{
    font-size: 16px; 
    font-style: italic;
    margin-bottom: 15px;
    color: rgb(85, 85, 85);
}

/*end testimonial*/





/*start blog*/

.blogs  {
    background-color: #f1f1f1; 
    padding-bottom: 100px;
}

.blogs .container .title h2{
    text-align: center; 
    font-size: 40px; 
    font-weight: 800; 
    line-height: 30px; 
    margin: 100px 0 0px; 
    padding-bottom: 20px;
    position: relative; 
    text-transform: capitalize; 
    font-family: 'Source Sans Pro', sans-serif;
    color: #333; 
}

.blogs .container  .title hr{
    width:19% ;
    color:red; 
    margin-left:450px ; 
    margin-bottom: 5px;
}

.blogs .container .title .hrr{
    width:10% ; 
    margin-left: 500px; 
    background-color :black;
}

.blogs .container .boxes{ 
    margin-top: 40px; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
    align-items: center;
}

.blogs .container .box {
    width: 30%; 
    background-color: white;
}

.blogs .container .box .media{width :100%}

.blogs .container .box .media img{width: 100%;}


.blogs .container .boxes .box .info{
    margin-left: 20px; 
    padding-bottom: 30px;
}

.blogs .container .boxes .box h3{  
    font-weight: 600; 
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
    font-size: 24px;
    line-height: 1.1;
}

.blogs .container .boxes .box h3 a{
    text-decoration: none; 
    color: #333;
}

.blogs .container .boxes .box .info a{
    text-decoration: none; 
    color: #333; 
    transition: 0.7s color;
}

.blogs .container .boxes .box .info a:hover{color: #ff305b;}

.blogs .container .boxes .box p{  
    color: #555555;
    font-weight: 400; 
    line-height: 25px; 
    margin: 15px 0px;
}

/*end blog*/
 




/*Start contact*/

.contact .container h2{
    font-size: 40px; 
    font-weight: 800; 
    line-height: 30px; 
    margin: 100px 0 10px; 
    padding-bottom: 30px;
    position: relative; 
    text-transform: capitalize; 
    font-family: 'Source Sans Pro', sans-serif;
    color: #333; 
    text-align: center;
}

.contact .container .in{
    border-color:rgb(204, 204, 204); 
    border-radius: 4px; 
    border-style: solid;
    border-width: 0.8px; 
    border-image-width: 1;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset;
    color: rgb(85, 85, 85); 
    display: block; 
    font-family: "Roboto", sans-serif; 
    font-size: 14px;
     font-weight: 400; 
     height: 40px; 
     line-height: 20px; 
     padding:6px 20px; 
     width: 360px;
    }

.contact .container .out{width: 750px;}

.contact .container .firstrow{
    display: flex; 
    justify-content: center; 
}

.contact .container .secondrow{
    display: flex; 
    justify-content: center; 
}

.contact .container .thirdrow{
    display: flex; 
    justify-content: center; 
}

.contact .container .firstrow .in{ 
    margin: 15px; 
    margin-bottom: 30px;
}

.contact .container .secondrow .out{margin-bottom: 30px;}

.contact .container .thirdrow .out{
    height: 120px; 
    margin-bottom: 30px;
}

.contact .container{padding-bottom: 100px;}

.contact .container .btn a{
    border-radius: 4px; 
    text-align: center;
    background-color:#ff305b;;
    color:white;
    text-decoration: none;
    padding: 15px 20px;
    margin-left: 200px;
    transition-duration: 2s; 
    transition-property: all;
    font-family: "Roboto", sans-serif; 
    font-size: 14px; 
    font-weight: 400; 
    line-height: 38px; 
}

.contact .container .btn :hover{background-color:red;}

/*end contact*/





/*Start footer*/

.footer{
    background-color: #333333; 
    overflow:auto;
}

.footer .container{margin:50px}

.footer .container ul{
    list-style: none; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-bottom: 10px;
}

.footer .container ul li{padding:5px}

.footer .container ul i{color: white; transition: 0.5s all; padding: 0px 5px;}

.footer .container ul i:hover{color:#ff305b;}

.footer .container p{
    text-align: center; 
    color: white;
}

.footer .container a{
    text-decoration: none;
    color: #ff305b;
}

.footer .container a:hover{text-decoration: underline;}

/*end footer*/
